doctype html
html
  head
    title= title
    link(
      rel="stylesheet",
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css",
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", 
      crossorigin="anonymous"
    )
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/contractABI.js")
    script(src="/javascripts/app.js")
    script(
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", 
      crossorigin="anonymous", 
      onload="jqload();"
    )
  body
    block content
